* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  background-image: url(../images/oriental.png);
  padding-top: 20px;
  min-height: 100vh;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

hr{
  margin: 20px 0px ;
}

.content {
  margin: auto;
  background: white;
  border: solid 1px #aaa;
  width: 85%;
  padding: 10px;
}

#Main-Logo {
  background: #4aaaa5;
  text-align: center;
  color: white;
  width: 375;
  height: 60px;
}

.Navigation {
  text-align: center;
  border-bottom: #666666 1px solid;
  height: 35px;
  padding-top: 16px;
}

.nav-points {
  color: gray;
  background: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.mobile-img {
  width: 99%;
  position: relative;
  text-align: center
}

footer {
  background-color: #666666;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.74);
  text-align: center;
  border-top: #4aaaa5 solid 8px;
  padding-top: 20px;
  font-size: 10px;
  position: sticky;
  bottom: 0;
}

.bottom-center {
  position: relative;
  top: -79px;
  background-color: #4aaaa5;
  color: white;
  width: 99%;
  padding: 20px 0;
  text-align: center

}

@media only screen and (min-width: 768px) {

  #Main-Logo {
    background: #4aaaa5;
    
    color: white;(219, 50, 50);
    display: inline-block;
    width: 35%;
    text-align: center;
    
  }
  .Navigation {
    text-align: right;
    display: inline-block;
    text-align: right;
    width: 64%;
    
  }
  header{
    display: block;
    border-bottom: 1px solid #666666;
  }

  .sep{
    /* margin-left: 8px; */
  }

  .mobile-img {
    
    position: relative;
    width: 384px;
    
  }
  .wrap{
    display: inline-block;
    text-align: center;
    width: 320px
  }

}